/* Tipografía */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

h1, h2, h3 {
    font-family: 'Outfit', sans-serif;
}

.texto-bienvenida h1 {
    font-family: 'MonteCarlo', cursive;
}

/* Menú de navegación */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: #9bb18c;
    width: 100%;
    box-sizing: border-box;
    box-shadow: inset 0 0 20px rgba(36, 36, 33, 0.7);
}

/* Imagotipo */
.Imagotipo img {
    height: 1.875rem;
    width: auto;
}

/* Contenedor en general*/
.menu-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

/* da estilo a la lista de navegación.*/
.menu-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 25px;
    align-items: center;
}
/* controla los ítems de la lista.*/
.menu-container li {
    display: flex;
}

/* da estilo a los enlaces */
.menu-container a {
    text-decoration: none;
    color: #1A2025;
    font-family: 'Outfit', sans-serif;
    font-size: 1.563rem;
    border-radius: 50px;
    padding: 8px 15px;
    white-space: nowrap;
    transition: all 0.3s ease;
}
.menu-container a:hover {
    background-color: #f5f5dc; 
}

/* Botón de contacto */
.btn-nav-contacto {
    background-color: #D8A7B1;
    border-radius: 50px;
    padding: 12px 25px;
    color: #1A2025;
    text-decoration: none;
    margin-left: 20px;
    box-shadow: 0 4px 10px rgba(36, 36, 33, 0.7);
}
.btn-nav-contacto:hover {
    background-color: #f5f5dc; 
    box-shadow: 0 4px 10px rgba(245, 245, 220, 0.7);
}
/* Carrusel de Banners */
.carrusel {
    width: 100%;
    text-align: center;
    max-width: none;
    position: relative;
    box-sizing: border-box;
    background-color: #f5f5dc;
  }
  
  .carrusel-contenido {
    position: relative;
  }
  
  .slide {
    display: none;
    transition: opacity 0.8s ease;
  }
  
  .slide.activo {
    display: block;
    opacity: 1;
    z-index: 1;
  }
  
  .slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
  }
  /* Botones de navegación para las imágenes del carrusel */
.prev-button-imagen, .next-button-imagen {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #f5f5dc;
    padding: 10px;
    border: none;
    cursor: pointer;
    z-index: 10;
    font-size: 1.563rem;
    transition: color 0.3s ease;
    background: none;
    outline: none;
  }
  
  .prev-button-imagen {
    left: 10px; 
  }
  
  .next-button-imagen {
    right: 10px; 
  }
  
  .prev-button-imagen:hover, .next-button-imagen:hover {
    color: #1A2025;
  }
  .prev-button-imagen:focus, .next-button-imagen:focus {
    outline: none; 
}
/* Sección de bienvenida */
.contenedor-bienvenida {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 50px;
    background-color: #f5f5dc;
    box-shadow: inset 0 0 20px rgba(36, 36, 33, 0.7);
}

/* Imagen */
.imagen-bienvenida {
    width: 31.25rem;
    max-width: 31.25rem;
    border-radius: 10px;
}

/* Texto bienvenida */
.texto-bienvenida {
    max-width: 800px;
    text-align: left;
}

.texto-bienvenida h1 {
    font-size: 3.125rem;
    color: #1A2025;
    font-family: 'MonteCarlo', cursive;
}

.texto-bienvenida p {
    font-family: 'Outfit', sans-serif;
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: normal;
}
.pregunta {
    font-size: 1.25rem; 
    font-family: 'Outfit', sans-serif;
    color: #D8A7B1;
    font-weight: normal; 
    margin-top: 20px;
    text-align: center;
}

.btn-contacto {
    cursor: pointer;
    display: inline-block;
    margin-top: 15px;
    padding: 15px 40px;
    background-color: #d8a7b1;
    color: #1A2025;
    font-family: 'Outfit', sans-serif;
    font-size: 1.563rem;
    box-shadow: 0 6px 12px rgba(216, 137, 166, 0.5);
    border-radius: 50px;
    border: 2px solid #d8a7b1;
    text-align: center;
    transition: 0.3s;
    text-decoration: none
}

.btn-contacto:hover {
    background-color: #f5f5dc;
    border: 2px solid #E7C6C6;
    color: #1A2025;
    
}

/* Frase de inicio */
.frase-inicio {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    overflow: hidden;
}

.imagen-frase {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* Servicios */
.treatments {
    background-color: #1A2025;
    text-align: center;
    padding: 50px 20px;
    color: #f5f5dc;
}

.treatments h2 {
    font-size: 1.875rem;
    margin-bottom: 30px;
    font-family: 'Outfit', sans-serif;
    font-weight: normal;
    text-decoration:underline;
    text-underline-offset: 12px;
    text-decoration-thickness: 2px;
}

.treatments-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.treatment {
    max-width: 220px;
    text-align: center;
    padding: 10px;
    flex: 1 1 220px;
    min-height: 320px;
}

.treatment img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.treatment h3 {
    font-size: 1.75rem;
    margin: 10px 0;
    font-family: 'Outfit', sans-serif;
    font-weight: normal;
}

.treatment p {
    font-size: 1.25rem;
    font-family: 'Outfit', sans-serif;
}
.treatment-link img {
    transition: transform 0.3s ease, filter 0.3s ease;
}

.treatment-link:hover img {
    transform: scale(1.1); 
    filter: brightness(1.4)drop-shadow(0 0 12px #f8c5d5); 
    cursor: pointer;
}

.btn-consulta {
    font-family: 'Outfit', sans-serif;
    background-color: #E8B8C5;
    color: #1A2025;
    padding: 12px 32px;
    border: none;
    border-radius: 50px;
    font-size: 1.563rem;
    margin: 20px auto;
    cursor: pointer;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    box-shadow: 0 6px 12px rgba(216, 137, 166, 0.5);
    transition: background-color 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
}

.btn-consulta:hover {
    background-color: #1A2025;
    border: 2px solid #d8a7b1;
    color: #f5f5dc;
    box-shadow: 0 8px 16px rgba(216, 137, 166, 0.6);
    
}
/* carrusel de testimonios*/
.carrusel-testimonios {
    font-family: 'Outfit', sans-serif;
    font-weight: normal;
    position: relative;
    width: 100%;
    min-height: 200px;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #f5f5dc;
    color: #1A2025;
    text-align: center;
    padding-top: 40px;
  }
  .video-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: 0.5; 
    pointer-events: none; 
  }
  
  .contenido-testimonios {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 20px 200px;
    box-sizing: border-box;
  }
  
  .contenido-testimonios h2 {
    font-weight: normal;
    font-size: 1.875rem;
    margin: 0 0 1.5rem 0;
    font-family: 'Outfit', sans-serif;
  }

  /* Cada testimonio */
.slider-textos {
    position: relative;
    height: auto;
  }
  
  .slider-textos .testimonio {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 1.25rem;
    line-height: 1.4;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
  }
  
  .slider-textos .testimonio.activo {
    display: block;
    opacity: 1;
  }
/* Estilo para el footer informativo */
.informativo {
    background-color: #F5F5DC; 
    font-size: 1.25rem;
    padding: 50px 20px;
    color: #1A2025; 
    box-shadow: inset 0 0 20px rgba(36, 36, 33, 0.7);
  }
  
  /* Contenedor de las columnas */
  .footer-contenido {
    font-weight: normal;
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  /* Quitar puntos de las listas */
.columna ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  /* Estilo de cada columna */
  .columna {
    flex: 1;
    margin: 0 20px;
    min-width: 200px; /* Ajusta según necesites */
  }
  
  /* Títulos de cada columna */
  .columna h1 {
    font-family: 'MonteCarlo', cursive;
    font-weight: normal;
    color:#9bb18c;
    font-size: 3.125rem;
    margin-bottom: 10px;
  }
  
  /* Estilo de los enlaces */
  .columna a {
    color: #1A2025; 
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
  }
  
  /* Hover para enlaces */
  .columna a:hover {
    color: #d8a7b1; 
    text-decoration: none;
  }
/* Estilo para el footer final */
.footer-final {
    background-color: #1A2025; 
    color: #F5F5DC;
    text-align: center;
    padding: 20px 10px;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-weight: 300
  }
  
  /* Estilo para los enlaces del footer final */
  .footer-final a {
    color: #F5F5DC;
    text-decoration: underline;
    margin: 0 5px;
  }
  
  .footer-final a:hover {
    color: #D8A7B1;
    
  }
/* 3. Media Queries - Se colocan al final */
/* Mobile First: Pantallas pequeñas */
@media (max-width: 768px) {
    /* NAV */
    .navbar {
        display: flex; 
        flex-direction: column; 
        align-items: center;
        padding: 1 rem;
        width: 100%;
      }    
    .menu-container {
        display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      width: 100%;
      gap: 10px;
    }
    .Imagotipo {
        margin-bottom: 10px; 
      }
  
    .Imagotipo img {
      height: 60px;
    }
  
    /* BIENVENIDA */
    .contenedor-bienvenida {
      flex-direction: column;
      align-items: center;
      padding: 20px;
      text-align: center;
    }
  
    .texto-bienvenida h1 {
      font-size: 32px;
    }
  
    .imagen-bienvenida {
      width: 100%;
      max-width: 300px;
    }
  
    /* TESTIMONIOS */
    .testimonios-container {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  
    .testimonio {
        flex: 0 0 100%;
        scroll-snap-align: center;
      width: 90%;
      text-align: center;
    }
  }
  
  /* Desktop: Ajustes para pantallas grandes */
  @media (min-width: 1024px) {
    .menu-container {
      width: 500px;
      padding: 20px 40px;
      flex-direction: row;
      justify-content: space-between;
    }
  
    .Imagotipo img {
      height: 90px;
    }
  
    .contenedor-bienvenida {
      flex-direction: row;
      justify-content: space-between;
      padding: 60px;
    }
  
    .texto-bienvenida h1 {
      font-size: 64px;
      text-align: left;
    }
  
    .testimonios-container {
      flex-direction: row;
      justify-content: center;
      gap: 40px;
    }
  
    .testimonio {
      width: 30%;
    }
  }
