/* Tipografía */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Outfit', sans-serif;
}

.texto-bienvenida h1 {
    font-family: 'MonteCarlo', cursive;
}

/* Menú de navegación */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px 20px 50px;
  background-color: #9bb18c;
  width: 100%;
  box-sizing: border-box;
  box-shadow: inset 0 0 20px rgba(36, 36, 33, 0.7);
}

/* Imagotipo */
.Imagotipo img {
  height: 30px;
  width: auto;
}

/* Contenedor de los botones */
.menu-container {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
}

/* Botones de navegación */
.menu-container a {
  text-decoration: none;
  color: #1A2025;
  font-family: 'Outfit', sans-serif;
  font-size: 25px;
  border-radius: 50px;
  padding: 8px 15px;
  white-space: nowrap;
}
.menu-container a:hover {
  background-color: #f5f5dc; 
  transition: all 0.3s ease;
}

/* Botón de contacto */
.btn-nav-contacto {
  background-color: #D8A7B1;
  border-radius: 50px;
  font-size: 22px;
  padding: 12px 25px;
  color: #1A2025;
  text-decoration: none;
  margin-left: 20px;
  box-shadow: 0 4px 10px rgba(36, 36, 33, 0.7);
}
.btn-nav-contacto:hover {
  background-color: #f5f5dc; 
  box-shadow: 0 4px 10px rgba(245, 245, 220, 0.7);
}
/*imagenes*/
.imagen-con-sombra {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.imagen-con-sombra::after {
  content: "";
  position: absolute;
  inset: 0;
  box-shadow: inset 0 0 60px rgba(36, 36, 33, 0.7);
}

.imagen-con-sombra img {
  width: 100%;
  display: block;
}

/* "Sobre mí" */
.sobre-mi {
  background-color: #9bb18c; 
  color: #1A2025;
  padding: 20px 20px 60px 20px;
  width: 100%;
}

/* Contenido centrado pero a lo ancho */
.contenido {
  max-width: 1200px;
  margin: 0 auto;
}

/* Texto general */
.texto-sobre-mi {
  width: 100%;
}

/* Título principal */
.texto-sobre-mi h2 {
  font-size: 80px;
  margin-top: 0;
  margin-bottom: 30px;
  font-family: 'MonteCarlo', cursive;
  text-align: center;
}

/* Subtítulos */
.texto-sobre-mi h3 {
  font-size: 25px;
  text-decoration:underline;
  text-underline-offset: 12px;
  text-decoration-thickness: 2px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-family: 'Outfit', sans-serif;
}

/* Párrafos */
.texto-sobre-mi p {
  font-size: 20px;
  line-height: 1.8;
  font-weight: 300;
  font-family: 'Outfit', sans-serif;
}

/* frase */
.frase-doctora {
  background-color: #f5f5dc; 
  padding: 40px 20px;
  text-align: center;
  box-shadow: inset 0 0 20px rgba(36, 36, 33, 0.7);
}

.frase-doctora p {
  font-size: 20px;
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  color: #1A2025;
  max-width: 900px;
  margin: 0 auto;
  line-height: 1.6;
}
/* "formulario" */
.formulario-agendamiento {
  display: flex;
  background-color: #1A2025; 
  color: #D8A7B1; 
  font-family: 'Outfit', sans-serif;
}

.imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 450px;
}

.formulario {
  padding: 40px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formulario h2 {
  font-family: 'Outfit', sans-serif;
  font-size: 50px;
  margin-bottom: 10px;
  color: #D8A7B1;
}

.formulario p {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 300;
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 20px;
}

input, select textarea{
  width: 100%;
  padding: 8px;
  border: none;
  border-bottom: 1px solid #D8A7B1;
  background-color: transparent;
  color: #D8A7B1;
  font-size: 22px;
}
select {
  background-color: rgba(216, 167, 177, 0.2); 
  color: #D8A7B1; 
  border: 2px solid #D8A7B1;
  border-radius: 12px;
  padding: 12px 32px;
  font-size: 20px;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  appearance: none;
}

button {
  background-color: #D8A7B1;
  color: #1A2025;
  border: none;
  padding: 12px 32px;
  font-size: 25px;
  font-family: 'Outfit', sans-serif;
  border-radius: 50px; 
  box-shadow: 0 6px 12px rgba(216, 137, 166, 0.5);
  transition: background-color 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
  margin-top: 20px;
  cursor: pointer;
  align-self: center;
}

button:hover {
  background-color: #1A2025;
  color: #f5f5dc;
  box-shadow: 0 4px 16px #D8A7B1;
  border: 2px solid #D8A7B1;
}
.contenedor-boton {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.select-wrapper select {
  width: 100%;
  padding-right: 40px; 
  cursor: pointer;
}

.select-wrapper::after {
  content: "▼";
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 18px;
  color: #D8A7B1; 
}

.visitanos {
  margin-top: 20px;
  text-align: center;
  font-style: 'Outfit', sans-serif;
  font-size: 25px;
}
/* mapa */
.mapa-iframe {
  width: 100%;
  height: 400px;
  border: none;
  display: block;
}
@media (max-width: 768px) {
  .navbar {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    padding: 10px;
    width: 100%;
  }
  .menu-container {
         display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      width: 100%;
      gap: 10px;
  }
  .Imagotipo {
    margin-bottom: 10px; 
  }

  .Imagotipo img {
    height: 60px; 
  }

/* "formulario" */
  
  .contenido {
    flex-direction: column;
    padding: 20px;
  }
  .formulario-agendamiento {
    flex-direction: column;
  }
  .imagen img {
    max-width: 100%;
    height: auto;
  }
}
@media (min-width: 1024px) {
  .menu-container {
    width: 500px;
    padding: 20px 40px;
    flex-direction: row;
    justify-content: space-between;
  }

  .Imagotipo img {
    height: 90px;
  }
}
